.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Times New Roman";
    -fx-background: rgb(225, 228, 203);
    -fx-background-image: url("lab.jpg");
    -fx-cursor: hand;
}
.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
#title{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
.label{
    -fx-text-fill: white;
    -fx-font-family: "Times New Roman";
    -fx-font-weight: bold;
    -fx-font-size: 30pt;
}